.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.select-popup-large {
  .ant-select-item {
    height: 50px;
    line-height: 40px;
  }
}

.date-picker-large {
  .ant-picker-date-panel {
    width: 386px;
  }

  .ant-picker-content {
    table {
      th, td {
        width: 50px;
        height: 50px;
      }
    }
  }

  .ant-picker-cell {
    width: 50px;
    height: 50px;

    .ant-picker-cell-inner {
      width: 38px;
      height: 38px;
      line-height: 38px;
    }
  }

  .ant-picker-time-panel-cell {
    height: 40px;
    line-height: 40px;
    display: inline-flex;
    align-items: center;

    .ant-picker-time-panel-cell-inner {
      height: 40px !important;
      line-height: 40px !important;
    }
  }

  .ant-picker-footer {
    height: 60px;

    .ant-picker-ranges {
      height: 100%;
    }
  }

  .ant-picker-ok {
    .ant-btn {
      width: 100px;
      height: 40px;
    }
  }
}
