html{
  width: 100%;
  height: 100%;
}
body {
  /* width: 100%;
  height: 100%; */
  overflow: auto;
  min-width: 1920px;
  min-height: 1080px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: no-repeat;
  background-size: cover; /* 使背景图覆盖整个容器 */
  background-position: center; /* 使背景图居中 */
}

/* 自定义整个滚动条 */
::-webkit-scrollbar {
  width: 5px; /* 设置滚动条的宽度 */
  background-color: transparent; /* 滚动条的背景色 */
}
 
/* 自定义滚动条轨道 */
::-webkit-scrollbar-track {
  background: transparent; /* 轨道的背景色 */
  border-radius: 10px; /* 轨道的圆角 */
}
 
/* 自定义滚动条的滑块（thumb） */
::-webkit-scrollbar-thumb {
  background-color: #c1c1c1; /* 滑块的背景色 */
  border-radius: 10px; /* 滑块的圆角 */
}
 
/* 滑块hover效果 */
::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8; /* 滑块hover时的背景色 */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


span{
  line-height: 15px;
}

/* div[aria-hidden=true] {
  display: none;
} */



.left-tabs-cgs{
  width: auto !important;
}

.left-tabs-cgs .ant-tabs-nav{
  display: none;
}

.ant-tabs{
  width: 100%;
  height: 100%;
}

.ant-tabs .ant-tabs-nav{
  display: none;
}

.ant-tabs-content-holder{
  display: flex;
}

/* .ant-switch {
  width: 40rem !important; 
  height: 20rem !important;
  border-radius: 15px;
}

.ant-switch-handle{
  width: 15rem !important;  
  height: 15rem !important;
  border-radius: 20rem !important;
  top: 2.5rem !important;
  left: 2.5rem !important;
}

.ant-switch-checked .ant-switch-handle{
  inset-inline-start: calc(100% - 17.56rem) !important;
}

.lb-item .ant-checkbox-inner{
  width: 20rem !important;
  height: 20rem !important;
  border-radius: 10rem !important;
}

.lb-item .ant-checkbox-inner:after{
  inset-inline-start: 29% !important;
  width: 6rem !important;
  height: 11rem !important;
  transform: rotate(40deg) scale(1) translate(-50%, -50%) !important;
}

.qx-item .ant-checkbox-inner{
  width: 18rem !important;
  height: 18rem !important;
}

.qx-item .ant-checkbox-inner:after{
  inset-inline-start: 29% !important;
  width: 6rem !important;
  height: 11rem !important;
  transform: rotate(40deg) scale(1) translate(-50%, -50%) !important;
} */

.ant-tabs-tabpane, .ant-tabs-tabpane-active{
  width: 100%;
  height: 100%;
  display: flex;
}

.comp-loader{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item {
  margin-top: 5px;
}

.g-dash-line{
  stroke: yellow;
  stroke-dasharray: 30, 10;
  stroke-dashoffset: 0;
  animation: move 2s infinite linear;
}

.g-dash-line2{
  stroke-dasharray: 30, 10;
  stroke-dashoffset: 0;
  animation: move 2s infinite linear;
}

@keyframes move {
  from{
    stroke-dashoffset: 200;
  }
  to{
    stroke-dashoffset: 0;
  }
}


.inner-container {
  width: 260px;
  height: 100%;
  overflow-y: auto; 
  box-sizing: border-box;
}

.inner-container2{
  width: 272px;
  height: 100%;
  overflow-y: auto; 
  box-sizing: border-box;
  display: flex; 
  flex-wrap: wrap;
  padding-left: 11px;
}

.inner-container3{
  width: 1648px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto; 
  display: flex;
  box-sizing: border-box;
}

.inner-container4{
  width: 1370px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto; 
  display: flex;
  box-sizing: border-box;
}


.date_pop{
  transform: scale(1.5);
}

.custom_antd_td{
  padding: 0;
  padding-left: 12px;
  height: 50px;
  font-size: 16px;
}